@font-face {
  font-family: dyslexicbold;
  src: url('../fonts/OpenDyslexic-Bold.otf');
}

@font-face {
  font-family: dyslexic;
  src: url('../fonts/OpenDyslexic-Regular.otf');
}

body, html {
  width: 100%;
  min-height: 90%;
  font-family: dyslexic, Arial;
  font-size: 15px;
  margin: 0px;
}

body {
  background: url('../images/background.jpg') center;
  background-size: cover;
}

/*HEADER*/

header, footer, #content {
  width: 1024px;
  margin: 0 auto;
}

h1 {
  font-family: dyslexicbold, Arial;
  color: yellow;
  text-shadow: #000 2px 1px;
  text-align: center;
  font-size: 40px;
}

/*CONTENT*/

#content {
  background: url('../images/dark_bg.png');
  color: #FFF;
  padding: 20px;
  border: 1px solid yellow;
}

#content p  {
  text-align: justify;
}

#content p > strong {
  color: yellow;
  font-weight: normal;
  text-shadow: #000 1px 1px;
}

/*table*/
table > thead {
  text-shadow: #000 2px 1px;
}

table tr > td {
  padding: 5px 10px;
}

table.kills tr > td > div.weapon {
  width: 20px;
  height: 20px;
  background-image: url('../images/items_512.png');
}

table.players > thead > tr > td:first-child {
  text-align: center;
}


/*epee diamant*/
table.kills tr > td > div.weapon_276 {
  width: 32px;
  height: 30px;
  background-position: 416px 383px;
}

/*epee pierre*/
table.kills tr > td > div.weapon_272 {
  width: 32px;
  height: 30px;
  background-position: 448px 383px;
}

/*arc*/
table.kills tr > td > div.weapon_261 {
  width: 32px;
  height: 30px;
  background-position: 350px 479px;
}

/*FOOTER*/

footer {
  height: 30px;
}

