{% extends "::base.html.twig" %}

{% block body %}

  {{ parent() }}

  <p>
      Hello, this is the HOME of my website. As a home, feel cosy. You can <a>click on this fake link</a> or do some awesome others things
  </p>

{% endblock body %}
