{% extends "::base.html.twig" %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{ asset("bundles/ovskiwebsite/css/style.css") }}"/>
{% endblock %}

{% block body %}

  {{ parent() }}

  <p>
  
  </p>

{% endblock body %}
  
{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}
