{% extends "::base.html.twig" %}

{% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" type="text/css" href="{{ asset("bundles/ovskiwebsite/css/map_page.css") }}"/>
{% endblock %}

{% block menu %}
    {% include "OvskiWebsiteBundle:Website:menu.html.twig" with {active: 'map'} %}
{% endblock %}

{% block body %}

<h2>Dynmap</h2>

<iframe src="http://localhost:8123/" width="100%" height="650">
  <p>Your browser does not support iframes.</p>
</iframe>

{% endblock %}