{% if active is not defined %}
  {% set active = null %}
{% endif %}

<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li {% if active == 'home' %} class="current" {% endif %}>
                <a href="{{ path('home') }}">home</a>
            </li>
            <li {% if active == 'stats' %} class="current" {% endif %}>
                <a href="{{ path('players_stats') }}">stats</a>
            </li>
            <li {% if active == 'about' %} class="current" {% endif %}>
                <a href="#">about us</a>
            </li>
            <li {% if active == 'contact' %} class="current" {% endif %}>
                <a href="#">contact</a>
            </li>
            <li {% if active == 'map' %} class="current" {% endif %}>
                <a href="{{ path('map') }}">map</a>
            </li>
            <li {% if active == 'server' %} class="current" {% endif %}>
                <a href="#">server</a>
            </li>
            <li {% if active == 'forum' %} class="current" {% endif %}>
                <a href="#">forum</a>
            </li>
        </ul>
    </div>
</div>