 /***********
  * GENERAL *
  ***********/

body, html
{
    margin: 0;
    padding: 0;
    font-family: title;
}

 /*********
  * FONTS *
  *********/

@font-face {
  font-family: title;
  src: url('../fonts/Merula Regular.otf');
}

 /**********
  * HEADER *
  **********/

#header-wrapper
{
    height: 460px;
    margin: 0 auto;
    background: url('../images/earth_header2.png') top no-repeat;
    background-position-y: -120px;
}

#header-wrapper > header
{
    height: 190px;
    color: #FFF;
}

#header-wrapper > header > h1
{
    font-size: 55px;
    margin-top: 50px;
    text-indent: 30px;
    text-shadow: 0.1em 0.1em 0.2em black;
}

/*NAV*/

#header-wrapper > header > .navbar
{
    font-size: 16px;
    margin: 20px 100px 0 200px;
}

#header-wrapper > header .navbar-inner
{
    padding: 0;
    box-shadow: 7px 6px 16px #000;
    border: none;
    border-radius: 0px;
    background: #9ec864;
}

#header-wrapper ul
{
    margin: 0 0 0 45px;
}

#header-wrapper ul li
{
    -o-transition: background .2s;
    -ms-transition: background .2s;
    -moz-transition: background .2s;
    -webkit-transition: background .2s;
    transition: background .2s;
}

#header-wrapper ul li a
{
    color: #000;
    text-shadow: none;
    padding: 10px 15px 10px;
    -o-transition: color .4s;
    -ms-transition: color .4s;
    -moz-transition: color .4s;
    -webkit-transition: color .4s;
    transition: color .4s;
}

/*hover*/
#header-wrapper > header > .navbar > .navbar-inner > ul.nav > li:hover { background: #52902b; }
#header-wrapper ul li:hover a
{
    color: #FFF;
}

/*current*/
#header-wrapper > header > .navbar > .navbar-inner > ul.nav > li.current { background: #382819; }
#header-wrapper ul li.current a
{
    color: #FFF;
}

/*BANNER*/

#header-wrapper > .banner
{
    height: 270px;
}

#header-wrapper > .banner > img
{
    border: 10px solid #2e180a;
    height: 250px;
    width: 920px;
}

 /****************
  * MAIN-CONTENT *
  ****************/

#main
{
    background: #FFF;
    min-height: 500px;
    margin-top: 10px;
    font-size: 13px;
}

 /**********
  * FOOTER *
  **********/

body > footer
{
    height: 500px;
    text-align: center;
    border-top: 5px solid #2e180a;
    background: url('../images/footer.png') bottom no-repeat;
}

body > footer .content
{
    color: #FFF;
    padding-top: 20px;
}