body, html
{
    margin: 0;
    padding: 0;
}

/*HEADER*/

#header-wrapper
{
    height: 420px;
    margin: 0 auto;
    background: url('../images/earth_header2.png') top no-repeat;
    background-position-y: -160px;
}

#header-wrapper > header
{
    height: 150px;
}

#header-wrapper > .banner
{
    height: 270px;
    position: relative;
}

#header-wrapper > .banner > img
{
    border: 10px solid #2e180a;
    height: 250px;
    width: 940px;
}

/* MAIN-CONTENT*/

#main
{
    background: #FFF;
    min-height: 500px;
}

/* FOOTER */

body > footer
{
    height: 500px;
    background: url('../images/footer.png') bottom no-repeat;
}