 /***********
  * GENERAL *
  ***********/

body, html
{
    margin: 0;
    padding: 0;
    font-family: title;
    background: #fff;
}

.container
{
    width: 1024px;
}

a { color: rgb(69, 168, 30); }

a.moderator
{
    color: #882a25;
    font-weight: bold;
}

a:hover
{
    color: #382819;
    text-decoration: none;
    font-weight: bold;
}

form
{
    margin: 0;
}

h2
{
    font-size: 31px;
}

.content
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.website input[type="file"]
{
    line-height: 0px;
}

.website .button
{
    display: inline-block;
}

.website .button:hover,
.website button,
.website input[type="submit"]
{
    background: #382819;
    color: #fff;
    font-weight: bold;
    font-family: title;
    border: none;
    padding: 7px 20px;
    -o-transition: background .2s;
    -ms-transition: background .2s;
    -moz-transition: background .2s;
    -webkit-transition: background .2s;
    transition: background .2s;
}

.website .button:hover,
.website button:hover,
.website input[type="submit"]:hover
{
    background: #74b73f;
}

table form
{
    display: inline-block;
}

ul
{
    margin: 0;
}
    
li
{
    list-style-type: none;
}

input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus
{
    border-color: #e9322d;
    -webkit-box-shadow: 0 0 6px #f8b9b7;
    -moz-box-shadow: 0 0 6px #f8b9b7;
    box-shadow: 0 0 6px #f8b9b7;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus
{
    border-color: rgba(66, 117, 37, 0.8);
    outline: 0;
    outline: thin dotted 9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

 /*********
  * FONTS *
  *********/

@font-face {
  font-family: title;
  src: url('../fonts/Merula Regular.otf');
}

 /**********
  * HEADER *
  **********/

#header-wrapper
{
    height: 460px;
    margin: 0 auto;
    background: url('../images/earth_header2.png') center -120px no-repeat;
}

#header-wrapper > header
{
    height: 200px;
    color: #FFF;
}

#header-wrapper > header > h1
{
    font-size: 55px;
    margin-top: 50px;
    text-indent: 30px;
    text-shadow: 0.1em 0.1em 0.2em black;
}

/* Admin & moderation header */
.admin #header-wrapper,
.moderation #header-wrapper
{
    height: 230px;
    background: url('../images/earth_header2.png') center -300px no-repeat;
}

/*Menu*/

#header-wrapper > header > .navbar
{
    font-size: 16px;
    margin: 20px;
}

#header-wrapper > header > .navbar.logout { margin: 20px 0 0 20px; }
#header-wrapper > header > .navbar.login { margin: 20px 0 0 50px; }

#header-wrapper > header .navbar-inner
{
    padding: 0;
    box-shadow: 7px 6px 16px #000;
    border: none;
    border-radius: 0px;
    background: #9ec864;
}

#header-wrapper .en .navbar-inner.span8 ul { margin: 0 0 0 34px; }
#header-wrapper .en .navbar-inner.span2 ul { margin: 0 0 0 32px; }
#header-wrapper .en .navbar-inner.span3 ul { margin: 0 0 0 30px; }
#header-wrapper .fr .navbar-inner.span8 ul { margin: 0 0 0 30px; }
#header-wrapper .fr .navbar-inner.span2 ul { margin: 0 0 0 15px; }
#header-wrapper .fr .navbar-inner.span3 ul { margin: 0 0 0 17px; }

#header-wrapper ul li
{
    -o-transition: background .2s;
    -ms-transition: background .2s;
    -moz-transition: background .2s;
    -webkit-transition: background .2s;
    transition: background .2s;
}

#header-wrapper ul li a
{
    color: #000;
    text-shadow: none;
    padding: 10px 15px 10px;
    -o-transition: color .4s;
    -ms-transition: color .4s;
    -moz-transition: color .4s;
    -webkit-transition: color .4s;
    transition: color .4s;
}

/*languages*/
#header-wrapper .lang-menu
{
    position: relative;
}

#header-wrapper .lang-menu > li
{
    text-indent: -100000px;
    height: 35px;
    width: 35px;
    position: absolute;
    /*top: 115px;*/
    top: 50px;
}

#header-wrapper .lang-menu > li > a
{
    padding: 0;
    display: block;
    height: 35px;
    width: 35px;
}

#header-wrapper .flag-en
{
    background: url('../images/flag-en.png') no-repeat;
    left: 760px/*100px*/;
}

#header-wrapper .flag-fr
{
    background: url('../images/flag-fr.png') no-repeat;
    left: 720px/*60px*/;
}

#header-wrapper .flag-en:hover { background: url('../images/flag-en-hover.png') no-repeat; }
#header-wrapper .flag-fr:hover { background: url('../images/flag-fr-hover.png') no-repeat; }


/*hover*/
#header-wrapper > header > .navbar > .navbar-inner > ul.nav > li:hover { background: #74b73f; }
#header-wrapper ul li:hover a
{
    color: #FFF;
}

/*current*/
#header-wrapper > header > .navbar > .navbar-inner > ul.nav > li.current { background: #382819; }
#header-wrapper ul li.current a
{
    color: #FFF;
}

/*children*/
#header-wrapper > header > .navbar > .navbar-inner > ul.nav > li.parent ul
{
    display: none;
}

#header-wrapper > header > .navbar > .navbar-inner > ul.nav > li.parent:hover ul
{
    box-shadow: 7px 6px 16px #000;
    display: block;
    position: absolute;
    background: #9ec864;
    margin: 0;
    left: 30px;
}

#header-wrapper > header > .navbar > .navbar-inner > ul.nav > li.parent:hover ul li a { color: #000; }
#header-wrapper > header > .navbar > .navbar-inner > ul.nav > li.parent:hover ul li:hover { background:  #74b73f; }
#header-wrapper > header > .navbar > .navbar-inner > ul.nav > li.parent:hover ul li:hover a { color: #FFF; }



/*BANNER*/

#header-wrapper > .banner
{
    height: 270px;
}

#header-wrapper > .banner > img
{
    border: 10px solid #2e180a;
    height: 250px;
    width: 1004px;
}

 /****************
  * MAIN-CONTENT *
  ****************/

#main
{
    min-height: 430px;
    margin-top: 10px;
    font-size: 14px;
}

#main h2
{
    color: #382819;
    margin: 20px 0;
    text-align: center;
}

/* Pagination */

.pagination
{
    margin: 0;
}

.pagination ul
{
    box-shadow: none;
    border-radius: 0px;
}

.pagination ul li
{
    display: inline-block;
    margin-left: 5px;
    line-height: 28px;
}

.pagination ul li a
{
    border: none;
    background: #9ec864;
    color: #000;
    line-height: 25px;
    padding: 5px 5px 0 5px;
}

.pagination ul li:first-child a
{
    border: none;
}

.pagination ul li:first-child a,
.pagination ul li:last-child a
{
    border-radius: 0px;
}

.pagination ul li:hover a
{
    font-weight: normal;
    background: #74b73f;
    color: #fff;
}

.pagination ul .active a,
.pagination ul .disabled a,
.pagination ul .active:hover a,
.pagination ul .disabled:hover a
{
    background: #382819;
    color: #fff;
}

/* Players/Factions Stats page */

header.stat-list-head > div
{
    font-weight: bold;
    font-size: 18px;
}

.stats-list
{
    margin: 0;
}

.stats-list > li
{
    border-top: 1px dashed #382819;
    line-height: 30px;
}

.stats-list > li > div.row-fluid:hover
{
    background: #74B729;
}

.stats-list > li > div.row-fluid:hover a
{
    color: #fff;
}

.stats-list > li > div.row-fluid:hover a:hover
{
    color: #382819;
}

.stats-list > li > div.row-fluid > div
{
    height: 50px;
    line-height: 50px;
}

.stats-list > li:first-child
{
    border-top: 3px solid #382819;
}

.stats-list > li .loner
{
    font-style: italic;
}

.stats-list span a,
.stats-list div a
{
    display: inline-block;
    width: 100%;
    height: 100%;
}

/* Factions stats page */

.factions-stats .stats-list div > div:first-child,
.factions-stats .stat-list-head > div:first-child
{
    text-indent: 10px;
}

/* Player/Faction Stats page */

.stat-list
{
    font-size: 16px;
}


.stat-list > li
{
    height: 30px;
    line-height: 30px;
}

.player-stats h2 img
{
    vertical-align: top;
}

/* FOSUser forms */

.fos-user-form
{
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    margin: 40px auto;
    width: 300px;
}

.fos-user-form > form
{
    border-top: 1px solid #ccc;
    padding-top: 15px;
}

.fos-user-form div.submit
{
    border-bottom: 1px solid #ccc;
}

/* Fos user show */

.fos_user_user_show .overview
{
    border-top: 2px solid #2e180a;
    border-bottom: 2px solid #2e180a;
    padding: 10px 0;
}

.fos_user_user_show input
{
    margin-top: 20px;
}


.fos_user_user_show p
{
    padding: 10px 0;
    margin: 0;
    border-bottom: 1px dashed #2e180a;
}

.fos_user_user_show .overview table th:first-child,
.fos_user_user_show .overview table td:first-child
{
    border-right: 2px solid #2e180a;
}

.fos_user_user_show .overview table td
{
    vertical-align: top;
    padding: 20px;
    text-align: justify;
}

.fos_user_user_show .overview table td.span4
{
    text-align: center;
}

/* Fos user edit form */

.edit-profile-form
{
    width: 984px;
}

.edit-profile-form > form textarea
{
    width: 650px;
    height: 150px;
}

/* Login form */

.login-form div
{
    width: 100%;
}

.login-form div > input[type="submit"]
{
    margin: 15px 65px;
}

.login-form label.remember-me
{
    display: inline-block;
}

.login-form .related-links
{
    padding-top: 15px;
}

/* Reset form */

.fos_user_resetting_request
{
    text-align: center;
}

.fos_user_resetting_request #username
{
    width: 215px;
}

/* FORUM PAGES */

/* Forum page */

.forum ul li
{
    border-top: 1px dashed #382819;
    padding: 10px 0;
}

/* Forum category page */

.forum-category table
{
    width: 100%;
}

.forum-category table button
{
    padding: 0 20px;
}

.forum ul li > div
{
    text-indent: 20px;
    font-style: italic;
}

.forum-category input
{
    width: 100%;
}

.forum-category textarea
{
    width: 100%;
    height: 70px;
}

.forum-category #ovski_forumbundle_topic button
{
    margin: 10px 60px;
}

/* Forum topic page */

.forum-topic .posts-list li
{
    margin: 15px 0;
}

.forum-topic article
{
    position: relative;
    background: #f9f9f9;
    border: 1px solid #ccc;
    padding: 20px;
}

.forum-topic article header
{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.forum-topic article form
{
    display: inline-block;
}

.forum-topic article form button
{
    padding: 0 20px;
    position: absolute;
    margin: 0;
    top: 15px;
    right: 20px;
}

.forum-topic textarea
{
    width: 100%;
    height: 70px;
}

.forum-topic button
{
    margin: 10px 60px;
}

 /**********
  * FOOTER *
  **********/

body > footer
{
    margin-top: 50px;
    height: 500px;
    text-align: center;
    border-top: 5px solid #2e180a;
    background: url('../images/footer.png') bottom no-repeat;
}

body > footer .content
{
    color: #FFF;
}


body > footer .content > div
{
    text-align: left;
}

body > footer a
{
    font-style: italic;
    color: #fff;
}

body > footer a:hover
{
    font-weight: bold;
    color: #fff;
}

 /******************
  * ADMINISTRATION *
  ******************/

.admin table
{
    width: 100%;
}
 
.admin table tr th
{
    text-align: left;
}
 
.admin table td
{
    padding: 0 10px;
}
 
 /**************
  * MODERATION *
  **************/
 
.moderation .enable-form ul li
{
    padding: 5px 10px;
}