 /***********
  * GENERAL *
  ***********/

body, html
{
    margin: 0;
    padding: 0;
    font-family: title;
    background: #fff;
}

a
{
    color: rgb(69, 168, 30);
}

a:hover
{
    color: #382819;
    text-decoration: none;
    font-weight: bold;
}

h2
{
    font-size: 31px;
}

.content
{
    margin-top: 20px;
    margin-bottom: 20px;
}

 /*********
  * FONTS *
  *********/

@font-face {
  font-family: title;
  src: url('../fonts/Merula Regular.otf');
}

 /**********
  * HEADER *
  **********/

#header-wrapper
{
    height: 460px;
    margin: 0 auto;
    background: url('../images/earth_header2.png') center -120px no-repeat;
}

#header-wrapper > header
{
    height: 200px;
    color: #FFF;
}

#header-wrapper > header > h1
{
    font-size: 55px;
    margin-top: 50px;
    text-indent: 30px;
    text-shadow: 0.1em 0.1em 0.2em black;
}

/*Menu*/

#header-wrapper > header > .navbar
{
    font-size: 16px;
    margin: 20px 100px 0 200px;
}

#header-wrapper > header .navbar-inner
{
    padding: 0;
    box-shadow: 7px 6px 16px #000;
    border: none;
    border-radius: 0px;
    background: #9ec864;
}

#header-wrapper ul
{
    margin: 0 0 0 45px;
}

#header-wrapper ul li
{
    -o-transition: background .2s;
    -ms-transition: background .2s;
    -moz-transition: background .2s;
    -webkit-transition: background .2s;
    transition: background .2s;
}

#header-wrapper ul li a
{
    color: #000;
    text-shadow: none;
    padding: 10px 15px 10px;
    -o-transition: color .4s;
    -ms-transition: color .4s;
    -moz-transition: color .4s;
    -webkit-transition: color .4s;
    transition: color .4s;
}

/*languages*/
#header-wrapper .lang-menu
{
    position: relative;
}

#header-wrapper .lang-menu > li
{
    text-indent: 100000px;
    height: 35px;
    width: 35px;
    list-style-type: none;
    position: absolute;
    top: 115px;
}

#header-wrapper .lang-menu > li > a
{
    padding: 0;
    display: block;
    height: 35px;
    width: 35px;
}

#header-wrapper .flag-en
{
    background: url('../images/flag-en.png') no-repeat;
    left: 100px;
}

#header-wrapper .flag-fr
{
    background: url('../images/flag-fr.png') no-repeat;
    left: 60px;
}

#header-wrapper .flag-en:hover { background: url('../images/flag-en-hover.png') no-repeat; }
#header-wrapper .flag-fr:hover { background: url('../images/flag-fr-hover.png') no-repeat; }


/*hover*/
#header-wrapper > header > .navbar > .navbar-inner > ul.nav > li:hover { background: #74b73f; }
#header-wrapper ul li:hover a
{
    color: #FFF;
}

/*current*/
#header-wrapper > header > .navbar > .navbar-inner > ul.nav > li.current { background: #382819; }
#header-wrapper ul li.current a
{
    color: #FFF;
}

/*children*/
#header-wrapper > header > .navbar > .navbar-inner > ul.nav > li.parent ul
{
    display: none;
}

#header-wrapper > header > .navbar > .navbar-inner > ul.nav > li.parent:hover ul
{
    box-shadow: 7px 6px 16px #000;
    display: block;
    position: absolute;
    background: #9ec864;
    margin: 0;
    left: 30px;
}

#header-wrapper > header > .navbar > .navbar-inner > ul.nav > li.parent:hover ul li a { color: #000; }
#header-wrapper > header > .navbar > .navbar-inner > ul.nav > li.parent:hover ul li:hover { background:  #74b73f; }
#header-wrapper > header > .navbar > .navbar-inner > ul.nav > li.parent:hover ul li:hover a { color: #FFF; }



/*BANNER*/

#header-wrapper > .banner
{
    height: 270px;
}

#header-wrapper > .banner > img
{
    border: 10px solid #2e180a;
    height: 250px;
    width: 920px;
}

 /****************
  * MAIN-CONTENT *
  ****************/

#main
{
    min-height: 430px;
    margin-top: 10px;
    font-size: 14px;
}

#main h2
{
    color: #382819;
    margin: 20px 0;
    text-align: center;
}

/* Pagination */

.pagination
{
    margin: 0;
}

.pagination ul
{
    box-shadow: none;
    border-radius: 0px;
}

.pagination ul li
{
    display: inline-block;
    margin-left: 5px;
    line-height: 28px;
}

.pagination ul li a
{
    border: none;
    background: #9ec864;
    color: #000;
    line-height: 25px;
}

.pagination ul li:first-child a
{
    border: none;
}

.pagination ul li:first-child a,
.pagination ul li:last-child a
{
    border-radius: 0px;
}

.pagination ul li:hover a
{
    font-weight: normal;
    background: #74b73f;
    color: #fff;
}

.pagination ul .active a,
.pagination ul .disabled a,
.pagination ul .active:hover a,
.pagination ul .disabled:hover a
{
    background: #382819;
    color: #fff;
}

/* Players/Factions Stats page */

header.stat-list-head > div
{
    font-weight: bold;
    font-size: 18px;
}

.stats-list
{
    margin: 0;
}

.stats-list > li
{
    list-style: none;
    border-top: 1px dashed #382819;
    line-height: 30px;
}

.stats-list > li > div.row-fluid:hover
{
    background: #74B729;
}

.stats-list > li > div.row-fluid:hover a
{
    color: #fff;
}

.stats-list > li > div.row-fluid:hover a:hover
{
    color: #382819;
}

.stats-list > li > div.row-fluid > div
{
    height: 50px;
    line-height: 50px;
}

.stats-list > li:first-child
{
    border-top: 3px solid #382819;
}

.stats-list > li .loner
{
    font-style: italic;
}

.stats-list span a,
.stats-list div a
{
    display: inline-block;
    width: 100%;
    height: 100%;
}

/* Factions stats page */

.factions-stats .stats-list div > div:first-child,
.factions-stats .stat-list-head > div:first-child
{
    text-indent: 10px;
}

/* Player/Faction Stats page */

.stat-list
{
    font-size: 16px;
}


.stat-list > li
{
    list-style: none;
    height: 30px;
    line-height: 30px;
}

.player-stats h2 img
{
    vertical-align: top;
}

 /**********
  * FOOTER *
  **********/

body > footer
{
    margin-top: 50px;
    height: 500px;
    text-align: center;
    border-top: 5px solid #2e180a;
    background: url('../images/footer.png') bottom no-repeat;
}

body > footer .content
{
    color: #FFF;
}