/* Beta */

.beta {
    box-shadow: 7px 0px 16px #000;
    position: absolute;
    top: 25px;
    right: -40px;
    background-color: #d2ec13;
    height: 40px;
    line-height: 40px;
    padding: 0 100px 0 130px;
    color: #2e180a;
    font-size: 19px;
    -moz-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    z-index: 99999;
}


/***********
  * GENERAL *
  ***********/

body, html {
    overflow-x: hidden;
    font-family: title;
}

a { color: rgb(69, 168, 30); }

a.moderator {
    color: #882a25;
    font-weight: bold;
}

a:hover {
    color: #382819;
    text-decoration: none;
}

form, ul {
    margin: 0;
}

li {
    list-style-type: none;
}

h2 {
    font-size: 31px;
}

.content {
    margin-top: 20px;
    margin-bottom: 20px;
}

#main p {
    text-align: justify;
}

.row {
    margin: 0;
}

/* General > button */

.website .button {
    display: inline-block;
}

.website .button:hover,
.website button,
.website input[type="submit"] {
    background: #382819;
    color: #fff;
    font-weight: bold;
    font-family: title;
    border: none;
    padding: 7px 20px;
    -o-transition: background .2s;
    -ms-transition: background .2s;
    -moz-transition: background .2s;
    -webkit-transition: background .2s;
    transition: background .2s;
}

.website .button:hover,
.website button:hover,
.website input[type="submit"]:hover {
    background: #74b73f;
}

input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
    border-color: #e9322d;
    -webkit-box-shadow: 0 0 6px #f8b9b7;
    -moz-box-shadow: 0 0 6px #f8b9b7;
    box-shadow: 0 0 6px #f8b9b7;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: rgba(66, 117, 37, 0.8);
    outline: 0;
    outline: thin dotted;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

 /*********
  * FONTS *
  *********/

@font-face {
  font-family: title;
  src: url('../fonts/merula-regular.otf');
}

 /**********
  * HEADER *
  **********/

#header-wrapper {
    margin: 0 auto;
    background: url('../images/earth_header.jpg') center -348px no-repeat;
}

#header-wrapper > header {
    color: #fff;
    position: relative;
}

#header-wrapper > header > h1 {
    font-size: 40px;
    margin-top: 30px;
    text-indent: 0px;
    text-shadow: 0.1em 0.1em 0.2em black;
}

/* Header > Menu */

#header-wrapper > header > .navbar-default {
    font-size: 16px;
    background: none;
    border: 2px solid #382819;
}

#header-wrapper > header .navbar-nav {
    box-shadow: none;
    border: none;
    border-radius: 0px;
    background: #9ec864;
}

#header-wrapper > header .navbar-collapse,
#header-wrapper > header .navbar-collapse.in {
    padding: 0;
    border: none;
}

#header-wrapper ul {
    margin: 0;
}

#header-wrapper ul.nav-right {
    border-top: 1px solid #9ec864;
}



#header-wrapper .navbar-header {
    background-color: #9ec864;
}

#header-wrapper ul li {
    -o-transition: background .2s;
    -ms-transition: background .2s;
    -moz-transition: background .2s;
    -webkit-transition: background .2s;
    transition: background .2s;
}

#header-wrapper ul li a {
    color: #000;
    padding: 10px 15px 10px;
    -o-transition: color .4s;
    -ms-transition: color .4s;
    -moz-transition: color .4s;
    -webkit-transition: color .4s;
    transition: color .4s;
}

/*hover*/
#header-wrapper > header ul.navbar-nav > li:hover { background: #74b73f; }
#header-wrapper ul li:hover a { color: #fff; }

/*current*/
#header-wrapper > header ul.navbar-nav > li.current { background: #382819; }
#header-wrapper ul li.current a { color: #fff; }

/*children*/
#header-wrapper > header ul.navbar-nav > li.parent ul {
    margin: 0;
    position: relative;
}

#header-wrapper > header ul.navbar-nav > li.parent:hover ul {
    display: block;
}

#header-wrapper > header ul.navbar-nav > li.parent ul li {
    background: #9ec864;
    position: absolute;
    bottom: 0;
}

#header-wrapper > header ul.navbar-nav > li.parent ul li:first-child { left: 75px; }
#header-wrapper > header ul.navbar-nav > li.parent ul li:last-child { left: 165px; }
#header-wrapper > header ul.navbar-nav > li.parent ul li a { display: block; height: 40px; }
#header-wrapper > header ul.navbar-nav > li.parent ul li a:hover { background: #74b73f; text-decoration: underline; }

/*languages*/
#header-wrapper .lang-menu.desktop {
    position: absolute;
    left: 440px;
    top: 45px;
    margin-left: 5%;
}

#header-wrapper .navbar-brand {
    color: #000;
}

.navbar-brand .lang-menu {
    position: absolute;
    left: 90px;
    top: 10px;
}

#header-wrapper .navbar-toggle:hover { box-shadow: -3px 1px 25px #000; }
#header-wrapper .navbar-toggle:hover, 
#header-wrapper .navbar-toggle:focus { background-color: #382819 }

#header-wrapper .lang-menu > li {
    font-size: 0px;
    height: 35px;
    width: 35px;
    float: left;
}

#header-wrapper .lang-menu > li > a {
    padding: 0;
    display: block;
    height: 35px;
    width: 35px;
}

#header-wrapper .flag-en { background: url('../images/flag-en.png') no-repeat; }
#header-wrapper .flag-fr { background: url('../images/flag-fr.png') no-repeat; }
#header-wrapper .flag-en:hover { background: url('../images/flag-en-hover.png') no-repeat; }
#header-wrapper .flag-fr:hover { background: url('../images/flag-fr-hover.png') no-repeat; }

/* Banner */

#header-wrapper > .banner > img {
    border: 10px solid #2e180a;
    height: 250px;
    width: 100%;
}

 /****************
  * MAIN-CONTENT *
  ****************/

 #main {
    min-height: 430px;
    margin-top: 10px;
    font-size: 14px;
}

#main h2 {
    color: #382819;
    margin: 20px 0;
    text-align: center;
}

/* Home page */
#main .home img.weapons {
    float: right;
    padding: 0 0 20px 20px;
    width: 220px;
}

#main .home img.key {
    float: left;
    padding: 0 20px 20px 0;
    width: 120px;
}

/* Server page */
#main .server h3 {
    text-decoration: underline;
}

#main .server h4 {
    font-weight: bold;
}

#main .server h5 {
    text-decoration: underline;
}

#main .server .plugin {
    margin-left: 30px;
}


#main .server .plugin .command {
    display: inline-block;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    margin: 2px 5px 2px 0;
    padding: 2px 5px;
}

 /* Map page */
#main .dynmap {
    
    width: 90%;
    margin: 0 auto;
    padding: 0;
}

#main .dynmap > iframe {
    width: 100%;
    height: 380px;
    border: 10px solid #2e180a;
}

/* Contact page */

.contact-form {
    margin-left: 5%;
}

.contact-form h1 {
    padding: 30px 0;
    text-align: center;
}

.contact-form button {
    margin-top: 5px;
}

.contact-form input {
    min-width: 200px;
    margin-bottom: 5px;
}

.contact-form textarea {
    width: 90%;
}

.contact-form label {
    min-width: 70px;
}

.contact-form label[for="contact_message"] {
    display: block;
}

/* Pagination */

.pagination {
    margin: 0;
}

.pagination ul {
    box-shadow: none;
    border-radius: 0px;
}

.pagination ul li {
    display: inline-block;
    margin-left: 5px;
    line-height: 28px;
}

.pagination ul li a {
    border: none;
    background: #9ec864;
    color: #000;
    line-height: 25px;
    padding: 5px 5px 0 5px;
}

.pagination ul li:first-child a {
    border: none;
}

.pagination ul li:first-child a,
.pagination ul li:last-child a {
    border-radius: 0px;
}

.pagination ul li:hover a {
    font-weight: normal;
    background: #74b73f;
    color: #fff;
}

.pagination ul .active a,
.pagination ul .disabled a,
.pagination ul .active:hover a,
.pagination ul .disabled:hover a {
    background: #382819;
    color: #fff;
}

/* Players/Factions Stats page */

header.stat-list-head > div {
    font-weight: bold;
    font-size: 18px;
}

ul.stats-list {
    padding: 0;
}

.stats-list > li {
    border-top: 1px dashed #382819;
}

.stats-list > li:hover {
    background: #74B729;
}

.stats-list > li:hover a {
    color: #fff;
}

.stats-list > li:hover a:hover {
    color: #382819;
}

.stats-list > li > div {
    height: 50px;
    line-height: 50px;
}

.stats-list > li:first-child {
    border-top: 3px solid #382819;
}

.stats-list > li .loner {
    font-style: italic;
}

.stats-list span a,
.stats-list div a {
    display: inline-block;
    width: 100%;
    height: 100%;
    o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Form filter */

form.filter label {
    float: left;
    min-width: 70px;
}

form.filter > div {
    margin: 5px 0;
}

form.filter .filter-number-range input {
    margin-right: 5px;
}

form.filter input[type="submit"] {
    margin: 10px 0 20px 0;
}

/* Factions stats page */

.factions-stats .stats-list div > div:first-child,
.factions-stats .stat-list-head > div:first-child {
    text-indent: 10px;
}

/* Player/Faction Stats page */

.stat-list {
    font-size: 16px;
}

.stat-list > li {
    min-height: 30px;
    line-height: 30px;
}

.player-stats h2 img {
    vertical-align: top;
}

.player-stats .full-skin {
    margin-top: 60px;
}

.player-stats .full-skin img {
    width: 300px;
}

/* FOSUser forms */

.fos-user-form {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    margin: 40px auto;
    width: 300px;
}

.fos-user-form > form {
    border-top: 1px solid #ccc;
    padding-top: 15px;
}

.fos-user-form div.submit {
    border-bottom: 1px solid #ccc;
}

/* Fos user show */

.fos_user_user_show .overview {
    border-top: 2px solid #2e180a;
    border-bottom: 2px solid #2e180a;
    padding: 10px 0;
}

.fos_user_user_show input {
    margin-top: 20px;
}


.fos_user_user_show p {
    padding: 10px 0;
    margin: 0;
    border-bottom: 1px dashed #2e180a;
}

.fos_user_user_show .overview table th:first-child,
.fos_user_user_show .overview table td:first-child {
    border-right: 2px solid #2e180a;
}

.fos_user_user_show .overview table td {
    vertical-align: top;
    padding: 20px;
    text-align: justify;
}

.fos_user_user_show .overview table td.span4 {
    text-align: center;
}

.fos_user_user_show .missing-avatar {
    width: 150px;
    height: 150px;
    line-height: 150px;
    text-align: center;
}

.fos_user_user_show .missing-description {
    height: 150px;
    line-height: 150px;
    text-indent: 20px;
}

/* Fos user edit form */

.edit-profile-form {
    width: 984px;
}

.edit-profile-form > form textarea {
    width: 650px;
    height: 150px;
}

/* Login form */

.login-form div {
    width: 100%;
}

.login-form div > input[type="submit"] {
    margin: 15px 65px;
}

.login-form .related-links {
    padding-top: 15px;
}

/* Reset form */

.fos_user_resetting_request {
    text-align: center;
}

.fos_user_resetting_request #username {
    width: 215px;
}

.fos_user_resetting_request input[type="submit"] {
    margin-top: 15px;
}

/* Registration form */

.login-form label,
#fos_user_registration_form label {
    display: block;
    padding: 5px 0;
    margin: 0;
}

#fos_user_registration_form select {
    margin-bottom: 15px;
}

/* FORUM PAGES */

/* Forum page */

.forum ul {
    padding: 0;
}

.forum ul li {
    border-top: 1px dashed #382819;
    padding: 10px 0;
}

/* Forum category page */

.forum-category table {
    width: 100%;
}

.forum-category table button {
    padding: 0 20px;
}

.forum ul li > div {
    text-indent: 20px;
    font-style: italic;
}

.forum-category input {
    width: 100%;
}

.forum-category textarea {
    width: 100%;
    height: 70px;
}

.forum-category #ovski_forumbundle_topic button {
    margin: 10px 60px;
}

/* Forum topic page */

.forum-topic .posts-list li {
    margin: 15px 0;
}

.forum-topic article {
    position: relative;
    background: #f9f9f9;
    border: 1px solid #ccc;
    padding: 20px;
}

.forum-topic article header {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.forum-topic article form {
    display: inline-block;
}

.forum-topic article form button {
    padding: 0 20px;
    position: absolute;
    margin: 0;
    top: 15px;
    right: 20px;
}

.forum-topic textarea {
    width: 100%;
    height: 70px;
}

.forum-topic button {
    margin: 10px 60px;
}

 /**********
  * FOOTER *
  **********/

body > footer {
    margin-top: 50px;
    height: 500px;
    text-align: center;
    border-top: 5px solid #2e180a;
    background: url('../images/footer.jpg') bottom no-repeat;
}

body > footer .content {
    color: #FFF;
}


body > footer .content > div {
    text-align: left;
}

body > footer a {
    font-style: italic;
    color: #fff;
}

body > footer a:hover {
    font-weight: bold;
    color: #fff;
}

 /******************
  * ADMINISTRATION *
  ******************/

.admin table {
    width: 100%;
}
 
.admin table tr th {
    text-align: left;
}
 
.admin table td {
    padding: 0 10px;
}
 
 /**************
  * MODERATION *
  **************/
 
.moderation .enable-form ul li {
    padding: 5px 10px;
}

 /***********
  * DESKTOP *
  ***********/

@media (min-width: 768px) {

    #header-wrapper {
        height: 440px;
        background: url('../images/earth_header.jpg') center -120px no-repeat;
    }

    #header-wrapper > header > h1 {
        font-size: 60px;
    }

    #header-wrapper > header > .navbar-default {
        border: none;
    }

    #header-wrapper ul {
        margin-left: 3%;
    }

    #header-wrapper > header .navbar-nav {
        box-shadow: 7px 6px 16px #000;
    }

    #header-wrapper ul.nav-right {
        border-top: none;
    }

    #header-wrapper > header ul.navbar-nav > li.parent ul li:first-child { left: -46px; }
    #header-wrapper > header ul.navbar-nav > li.parent ul li:last-child { left: 33px; }
    #header-wrapper > header ul.navbar-nav > li.parent ul li { top: 0; }
    #header-wrapper > header ul.navbar-nav > li.parent ul li a { background-color: #9ec864; }
    #header-wrapper > header ul.navbar-nav > li.parent ul li a:hover { text-decoration: none; }

    #header-wrapper > header ul.navbar-nav > li.parent ul {
        display: none;
    }

    .contact-form {
        margin-left: 0;
    }

    .contact-form .fields {
        float: right;
        margin-top: 25px;
    }

    .contact-form .fields input {
        margin-bottom: 5px;
    }

    .contact-form .submit {
        float: left;
    }

    #main .dynmap {
        width: 100%;
    }
    
    #main .dynmap > iframe {
        height: 650px;
    }
}
