{% extends "::base.html.twig" %}

{% block title %}
    {% trans %}Dynmap{% endtrans %}
    {{ parent() }}
{% endblock %}

{% block menu %}
    {% include "OvskiMinecraftWebsiteBundle::menu.html.twig" with {active: 'map'} %}
{% endblock %}

{% block body %}

<h2>Dynmap</h2>

<iframe src="http://localhost:8123/" width="1004" height="650">
  <p>Your browser does not support iframes.</p>
</iframe>

{% endblock %}