{% extends "::base.html.twig" %}

{% block title %}
    {% trans %}Home{% endtrans %}
    {{ parent() }}
{% endblock %}

{% block menu %}
    {% include "OvskiMinecraftWebsiteBundle::menu.html.twig" with {active: 'home'} %}
{% endblock %}

{% block body %}

    <p>
        Hello, this is the home page of my website. Test 1
    </p>

{% endblock body %}
