{% extends "::base.html.twig" %}

{% block title %}
    {% trans %}Home{% endtrans %}
    {{ parent() }}
{% endblock %}

{% block menu %}
    {% include "OvskiMinecraftWebsiteBundle::menu.html.twig" with {active: 'server'} %}
{% endblock %}

{% block body %}

    <div class="server">
        <h3>Etat du serveur</h3>

        <p class="server-info"></p>

        <h3>A propos</h3>

        <p>Cela fait plus d'un an que j'ai commencé le développement de plugins minecraft sur mon temps libre, en parallèle avec ce site. Si vous voulez supporter mon travail et continuer à voir des améliorations, un bon moyen de m'encourager serait de faire un don! (Bitcoins et cafés autorisés)
            <br/><br/><strong>Adresse bitcoin</strong>: 1267sPukECLNnUcMfsL5oyv855iS7WokLg.
        </p>

        <h3>Les plugins</h3>

        Une liste minimale de plugins est installée: Registration, Faction, Stats, Dynmap. En fonction des attentes de la communauté et des capacités du serveur, il est tout à fait possible que nous soyons amené à en enlever/rajouter.

        <h4>Registration</h4>
        <div class="plugin">
            <p>Vous ne devriez en entendre parler qu'une seule fois. Ce plugin est utilisé pour lié votre compte utilisateur et vos données du jeu.</p>
            <h5>Commandes</h5>
            <span class="command">/password server_key</span>
        </div>

        <h4>Factions</h4>
        <div class="plugin">
            <p>Ce plugin, développé par MassiveCraft, vous permet de créer des factions et réclamer des territoires pour protéger vos constructions tant que vous avec suffisamment de pouvoir. La documentation exhaustive est disponible sur leur site officiel : <a href="http://www.massivecraft.com/factions">http://www.massivecraft.com/factions</a>. Voici le mimimum pour débuter</p>
            <h5>Commandes</h5>
            <span class="command">/f create &lt;nom&gt;</span>Créer une faction<br/>
            <span class="command">/f join &lt;faction&gt;</span>Rejoindre une faction<br/>
            <span class="command">/f sethome</span>Indiquer le point de spawn de la faction<br/>
            <span class="command">/f inv,invite &lt;joueur&gt; [yes/no]</span>Inviter un joueur<br/>
            <span class="command">/f kick &lt;joueur&gt; </span>Kicker un joueur de la faction<br/>
            <span class="command">/f claim</span>Prendre du terrain (un chunck de 16*16 blocs)<br/>
            <span class="command">/f unclaim</span>Enlever du terrain<br/>
            <span class="command">/f disband</span>Dissoudre la faction<br/>
            <span class="command">/f home</span>Se téléporter au spawn<br/>
            <span class="command">/f ally &lt;faction&gt;</span>Faire alliance avec une faction<br/>
            <span class="command">/f neutral &lt;faction&gt;</span>Se mettre en position neutre par rapport à une faction<br/>
            <span class="command">/f ennemy &lt;faction&gt;</span>Faire ennemi avec une faction<br/>
            <span class="command">/f truce &lt;faction&gt;</span>Faire une trêve avec une faction<br/>
            <span class="command">/f leave</span>Quitter sa faction<br/>
        </div>

        <h4>Stats</h4>
        <div class="plugin">
            <p>Ce plugin vous permet d'obtenir des statistiques sur les joueurs en temps réel.</p>
            <h5>Commandes</h5>
            <span class="command">/stats &lt;joueur&gt;</span>Obtenir les statistiques du joueur.<br/>
        </div>
    </div>
{% endblock body %}
    
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        jQuery(document).ready(function () {
            var url = '{{ path('server_info') }}';
            jQuery.ajax({
                url : url
            })
            .success(function(data){
                console.log(data);
                var players = jQuery.parseJSON(data);
                jQuery('.server-info').append('Le serveur est en ligne.');
                if (players.length > 0) {
                    jQuery('.server-info').append(' Nombre de joueurs: '+players.length+'<br/>');
                    for(i=0; i<players.length; i++) {
                        var url = '{{ path("player_stats", {'pseudo': 'player_id'}) }}'; 
                        url = url.replace("player_id", players[i]);
                        jQuery('.server-info').append('<a href="'+url+'">'+players[i]+'</a>');
                    }
                } else {
                    jQuery('.server-info').append(' Il n\'y a aucun joueur connecté');
                }
            })
            .error(function(jqXHR, desc, errorThrown){
                 console.log(errorThrown);
                 console.log(desc);
                 console.log(jqXHR);
                 jQuery('.server-info').append('Le serveur est en hors ligne.');
            });
        });
    </script>
{% endblock javascripts %}
