{% if active is not defined %}
  {% set active = null %}
{% endif %}

<div class="navbar">
    <div class="navbar-inner span12">
        <ul class="nav">
            <li {% if active == 'forum' %} class="current" {% endif %}>
                <a href="{{ path('ovski_forum_forum') }}">
                    {% trans %}Forum{% endtrans %}
                </a>
            </li>
            {% if is_granted("ROLE_ADMIN") %}
                <li {% if active == 'forum' %} class="current" {% endif %}>
                    <a href="{{ path('ovski_forum_administration') }}">
                        {% trans %}Administration Panel{% endtrans %}
                    </a>
                </li>
            {% endif %}
            <li {% if active == 'users' %} class="current" {% endif %}>
                <a href="{{ path('ovski_forum_moderation_users') }}">
                    {% trans %}Users{% endtrans %}
                </a>
            </li>
        </ul>
    </div>
</div>
