{% extends '::moderationBase.html.twig' %}

{% block menu %}
    {% include "OvskiForumBundle:Admin:menu.html.twig" with {active: 'users'} %}
{% endblock %}

{% block body %}

    <div class="row-fluid enable-form">
        <div class="span6">
            <h3>Disabled users</h3>
            <ul>
                {% for user in disabled_users %}
                    <li>
                        {{ user }}
                        <a href="{{ path('ovski_forum_moderation_enable', { 'id': user.id, 'choice': 1 }) }}">
                            [enable]
                        </a>
                    </li>
                {% else %}
                    No disabled users
                {% endfor %}
            </ul>
        </div>
        <div class="span6">
            <h3>Enabled users</h3>
            <ul>
                {% for user in enabled_users %}
                    <li>
                        {{ user }}
                        <a href="{{ path('ovski_forum_moderation_enable', { 'id': user.id, 'choice': 0 }) }}">
                            [disable]
                        </a
                    </li>
                {% else %}
                   No enabled users
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}