{% extends '::moderationBase.html.twig' %}

{% block body %}

    <div class="row-fluid enable-form">
        <div class="span6">
            <h3>{% trans %}Disabled users{% endtrans %}</h3>
            <ul>
                {% for user in disabled_users %}
                    <li>
                        {{ user }}
                        <a href="{{ path('ovski_forum_moderation_enable', { 'id': user.id, 'choice': 1 }) }}">
                            [{% trans %}enable{% endtrans %}]
                        </a>
                    </li>
                {% else %}
                    {% trans %}No disabled users{% endtrans %}
                {% endfor %}
            </ul>
        </div>
        <div class="span6">
            <h3>Enabled users</h3>
            <ul>
                {% for user in enabled_users %}
                    <li>
                        {{ user }}
                        <a href="{{ path('ovski_forum_moderation_enable', { 'id': user.id, 'choice': 0 }) }}">
                            [{% trans %}disable{% endtrans %}]
                        </a
                    </li>
                {% else %}
                   {% trans %}No enabled users{% endtrans %}
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}