{% extends '::adminBase.html.twig' %}

{% block body %}

    <p>
        Allow you to promote users to the moderator status. Disabled users can't be promoted.
        Allow you to demote moderators.
    </p>

    <div class="row-fluid enable-form">
        <div class="span6">
            <h3>Moderators</h3>
            <ul>
                {% for user in moderators %}
                    <li>
                        {{ user }}
                        <a href="{{ path('ovski_forum_moderation_promote', { 'id': user.id, 'choice': 0 }) }}">
                            [demote]
                        </a
                    </li>
                {% else %}
                   No moderators
                {% endfor %}
            </ul>
        </div>
        <div class="span6">
            <h3>Users</h3>
            <ul>
                {% for user in users %}
                    <li>
                        {{ user }}
                        <a href="{{ path('ovski_forum_moderation_promote', { 'id': user.id, 'choice': 1 }) }}">
                            [promote]
                        </a>
                    </li>
                {% else %}
                    No enabled users
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}