{% extends '::adminBase.html.twig' %}

{% block body %}

    <p>
        {% trans %}Allow you to promote users to the moderator status. Disabled users can't be promoted.
        Allow you to demote moderators.{% endtrans %}
    </p>

    <div class="row-fluid enable-form">
        <div class="col-xs-6">
            <h3>{% trans %}Moderators{% endtrans %}</h3>
            <ul>
                {% for user in moderators %}
                    <li>
                        {{ user }}
                        <a href="{{ path('ovski_forum_administration_promote', { 'id': user.id, 'choice': 0 }) }}">
                            [{% trans %}demote{% endtrans %}]
                        </a
                    </li>
                {% else %}
                   No moderators
                {% endfor %}
            </ul>
        </div>
        <div class="col-xs-6">
            <h3>{% trans %}Users{% endtrans %}</h3>
            <ul>
                {% for user in users %}
                    <li>
                        {{ user }}
                        <a href="{{ path('ovski_forum_administration_promote', { 'id': user.id, 'choice': 1 }) }}">
                            [{% trans %}promote{% endtrans %}]
                        </a>
                    </li>
                {% else %}
                    {% trans %}No enabled users{% endtrans %}
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}