{% extends "::base.html.twig" %}

{% block menu %}

    {% include "OvskiWebsiteBundle:Website:menu.html.twig" with {active: 'stats'} %}

{% endblock %}

{% block body %}

    <h2>Factions stats</h2>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>created at</th>
            <tr>
        </thead>
        <tbody>
        {% for faction in pager.currentPageResults %}
            <tr>
                <td><a href="{{ path('faction_stats', { name: faction.name }) }}">{{ faction.name }}</a></td>
                <td>{{ faction.createdAt }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}